Step1 : Load the required Package

In [13]:
import pandas as pd
import numpy as np
from sklearn.neighbors import NearestNeighbors

Step2 : Prep The fles for recommendation

In [7]:
def prep_files():
    f1 = pd.read_csv('imdb_file_from_Kaggle', encoding='utf8')
    f1= f1[f1.country =="USA"]
    f1 = f1.reset_index(drop=True)
    f1 = f1.reset_index(drop=False)
    Title_file = f1.iloc[:,np.r_[0,1,2,3,4,5,6]]
    Raw_file = f1.iloc[:,np.r_[0,8:31]]
    del Raw_file['index']
    Raw_file = pd.get_dummies(Raw_file, prefix=['reviews_from_users','reviews_from_critics'], columns=['reviews_from_users','reviews_from_critics'])
    Raw_file = Raw_file.rename(columns={x:y for x,y in zip(Raw_file.columns,range(0,len(Raw_file.columns)))})
    Raw_file = Raw_file.fillna(0)
    return Title_file, Raw_file

Step3: Fucntion for recommendation

In [8]:
def ksimilar(title_id, ratings,metric,k):
    similarities=[]
    indices=[]
    model_knn = NearestNeighbors(metric = metric, algorithm = 'auto') 
    model_knn.fit(ratings)

    distances, indices = model_knn.kneighbors(ratings.iloc[title_id-1, :].values.reshape(1, -1), n_neighbors = k+1)
    similarities = 1-distances.flatten()
    print ('{0} most similar Titles for Title {1}:\n'.format(k,title_id))
    for i in range(0, len(indices.flatten())):
        if indices.flatten()[i]+1 == title_id:
            continue;

        else:
                tls = indices[0][i]
                print ('title ',tls, ' with similarity of {2}'.format(i, indices.flatten()[i]+1, similarities.flatten()[i]))
            
    return similarities,indices

Call the file prep to generate Title repository and Raw file to be used for recommendation

In [9]:
Title_file,Raw_file = prep_files()

In [10]:
Title_file.head(5)

,index,imdb_title_id,title,year,duration,country,production_company
0,0,tt0002101,Cleopatra,1912,100,USA,Other
1,1,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...",1912,60,USA,Other
2,2,tt0003167,"Home, Sweet Home",1914,55,USA,Other
3,3,tt0003643,The Avenging Conscience: or 'Thou Shalt Not Kill',1914,78,USA,Other
4,4,tt0003657,The Bargain,1914,70,USA,Other

In [11]:
Title_file[Title_file.imdb_title_id =="tt0387564"]

       index imdb_title_id title  year  duration country production_company
14596  14596     tt0387564   Saw  2004       103     USA              Other

In [14]:
similarities,indices = ksimilar(14596,Raw_file, metric='cosine',k=3)

3 most similar Titles for Title 14596:

title  7608  with similarity of 0.9684577391644746
title  8203  with similarity of 0.9684070202482564
title  15173  with similarity of 0.9634034213563594

In [15]:
Title_file[Title_file['index'] ==7608]

,index,imdb_title_id,title,year,duration,country,production_company
7608,7608,tt0074226,Blue Sunshine,1977,94,USA,Other

In [16]:
Title_file[Title_file['index'] ==8203]

,index,imdb_title_id,title,year,duration,country,production_company
8203,8203,tt0081515,The Silent Scream,1979,87,USA,Other

In [17]:
Title_file[Title_file['index'] ==15173]

,index,imdb_title_id,title,year,duration,country,production_company
15173,15173,tt0449471,Catacombs,2007,92,USA,Other